Evaluant.Uss.WcfClient/Service References/ServiceReference/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Evaluant.Uss.Domain" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Evaluant.NLinq" />
  <xs:element name="Load">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Evaluant.Uss.Domain" minOccurs="0" name="LoadResult" nillable="true" type="q1:ArrayOfArrayOfEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadWithPaging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="first" type="xs:int" />
        <xs:element minOccurs="0" name="max" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadWithPagingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Evaluant.Uss.Domain" minOccurs="0" name="LoadWithPagingResult" nillable="true" type="q2:ArrayOfArrayOfEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadWithId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadWithIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Evaluant.Uss.Domain" minOccurs="0" name="LoadWithIdResult" nillable="true" type="q3:ArrayOfEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadWithIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="id" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadWithIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Evaluant.Uss.Domain" minOccurs="0" name="LoadWithIdsResult" nillable="true" type="q5:ArrayOfArrayOfEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllReferences">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Evaluant.Uss.Domain" minOccurs="0" name="entity" nillable="true" type="q6:ArrayOfEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllReferencesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadReferencesOnSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Evaluant.Uss.Domain" minOccurs="0" name="entity" nillable="true" type="q7:ArrayOfEntry" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Evaluant.NLinq" minOccurs="0" name="references" nillable="true" type="q8:ArrayOfNLinqQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadReferencesOnSingleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadReferencesOnMany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Evaluant.Uss.Domain" minOccurs="0" name="entities" nillable="true" type="q9:ArrayOfArrayOfEntry" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Evaluant.NLinq" minOccurs="0" name="references" nillable="true" type="q10:ArrayOfNLinqQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadReferencesOnManyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadDouble">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadDoubleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadDoubleResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadScalarRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExpectedType" nillable="true" type="xs:string" />
  <xs:element name="First" type="xs:int" />
  <xs:element name="Max" type="xs:int" />
  <xs:element name="LoadScalarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnType" nillable="true" type="xs:string" />
  <xs:element name="InitializeRepository">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeRepositoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Evaluant.Uss.Domain" minOccurs="0" name="e" nillable="true" type="q11:ArrayOfEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>